.Btn {
    background-color: rgb(74, 150, 248);
    color: white;

    padding: 0.2rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    margin: 0 0.2rem 0 0;
}

.Btn:hover {
    background-color: turquoise;
}

.Add {
    background-color:  rgb(74, 184, 248);
}