.common-card {
    width: 19%;
    border-radius: 10px;
    box-shadow: 10px 10px 20px gainsboro;
    background-color: white;

    display: flex;
    flex-wrap: wrap;

    padding: 0.2rem 0.6rem;
    margin: 1rem 0 0 0.7rem ;
}

.common-card:hover {
    cursor: pointer;
}

.common-card img {
    margin: 0 0 0.5rem 0;
    position: initial;
}

.common-card-price {
    color: rgb(0, 2, 128);
    padding: 0.3rem 0rem;

    font-weight: bold;
}

.gr-button {
    width: 100%;

    display: flex;
    justify-content: flex-end;
}